<div class="container background">
  <div class="d-flex justify-content-around">
    <% @lists.each do |list| %>
      <%= link_to list.name, list_path(list), class: "btn btn-light" %>
    <% end %>
  </div>
</div>
